.container{
    margin-top: 61px;
}
.sc-visual{
    position: relative;
    width: 100%;
    height: 400px;
    .link-slide{
        display: block;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .pagination{
        position: absolute;
        bottom: 17px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        a{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #fff;
            & + a{
                margin-left: 9px;
            }
            &.active{
                background-color: #fff;
            }
        }
    }
}
.sc-intro{
    padding: 0 10px;
    text-align: center;
    .group-cont{
    }
    h3{
        @extend .about-title;
        padding: 30px 0 8px;
    }
    .thumb-box{}
    .info-box{}
    .desc{
        padding: 18px 0 21px;
        text-align: left;
    }
    .link-detail{
    }
}

.sc-recommend{
    color: #fff;
    .sc-title{
        padding: 30px 0 10px;
        font-size: 20px;
        line-height: 38px;
        font-weight: 700;
        text-align: center;
    }
    .group-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 290px;
        background-image: url(../images/recommend_bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
        &:nth-of-type(2){
            background-image: url(../images/recommend_bg2.png);
        }
        &:nth-of-type(3){
            background-image: url(../images/recommend_bg3.png);
        }
    }
    .info-box{
        padding: 20px 16px 0 15px;
        width: 280px;
        height: 200px;
        background-color: rgba(#000,.7);
    }
    .title{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }
    .desc{
        margin-top: 11px;
        font-size: 13px;
        line-height: 20px;

    }
}
.sc-event{
    padding: 39px 35px 0 35px;
    .event-list{}
    .event-item{
        & + li{
            margin-top: 39px;
        }
    }
    .thumb-box{
        display: block;
        margin-bottom: 14px;
    }
    .info-box{
        & > *{
            display: block;
        }
    }
    .date{
        font-size: 12px;
        line-height: 14px;
        color: #858585;
    }
    .title{
        font-size: 15px;
        font-weight: 700;
        margin: 13px 0 8px;
    }
    .desc{
        @include ellip;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 14px;
    }
}

.sc-review{
    padding-bottom: 65px;
    .sc-title{
        padding: 30px 0 10px;
        font-size: 20px;
        line-height: 38px;
        font-weight: 500;
        font-family: $font-en1;
        text-align: center;
    }
    .group-cont{
        position: relative;
        padding: 0 30px;
    }
    .thumb-box{
        display: block;
        height: 176px;
        margin-bottom: 14px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info-box{
        text-align: center;
    }
    .title{
        display: block;
        text-align: left;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
    }
    .desc{
        @include ellip(20px,2);
        text-align: left;
        margin: 6px 0 16px;
        font-size: 13px;
        line-height: 20px;
    }
    .pagination{
        position: absolute;
        bottom: -43px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        a{
            width: 10px;
            height: 10px;
            border: 1px solid #ddd;
            border-radius: 50%;
            & + a{
                margin-left: 9px;
            }
            &.active{
                background-color: #ddd;
            }
        }
    }
}
.sc-board{
    position: relative;
    padding: 20px 20px 0 20px;
    .board-wrap{
        position: relative;
    }
    .sc-title{
        padding: 16px 0 14px;
        font-size: 16px;
        line-height: 20px;        
        font-weight: 500;
        border-bottom: 2px solid #ddd;
    }
    .board-list{}
    .board-item{
        padding: 19px 0 15px;
        border-bottom: 1px solid #ddd;
        a{
            display: flex;
            & > *{
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
    .date{
        color: #888;
        margin-right: 19px;
    }
    .text{
        flex: 1;
        @include ellip;
    }
    .btn-more{
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        &::after{
            content: '';
            display: block;
            vertical-align: top;
            width: 30px;
            height: 30px;
            border: 1px solid #ddd;
            background-image: url(../images/plus.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 12px;
        }
    }
}
.group-sns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
    height: 80px;
    background-color: #d71609;
    .link-sns{
        & + a{
            margin-left: 25px;
        }
        &::after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 35px;
            height: 35px;
            background-image: url(../images/facebook.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &.blog{
            &::after{
                background-image: url(../images/blog.png);
                background-size: contain;
            }
        }
        &.instargram{
            &::after{
                background-image: url(../images/instargram.png);
                background-size: contain;
            }
        }
        &.youtube{
            &::after{
                background-image: url(../images/youtube.png);
                background-size: contain;
            }
        }
    }
}