.footer{
    display: flex;
    align-items: center;
    height: 260px;
    background-color: #aaa;
    color: #fff;
    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div{
            height: 166px;
        }
    }
    .group-info{
        padding: 10px 0;
        font-size: 16px;
    }
    .footer-logo{
        margin-bottom: 23px;
        &::after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 171px;
            height: 21px;
            background-image: url(../images/footer_logo.png);
        }
    }
    .addr-area{}
    .addr-wrap{
        line-height: 30px;
        i{
            &::after{
                content: '';
                display: inline-block;
                vertical-align: center;
                width: 1px;
                height: 14px;
                margin: 0 10px;
                background-color: #fff;
            }
        }
    }
    .copy{
        margin-top: 27px;
    }
    .group-cs{
        width: 300px;
        padding: 20px 21px 23px 22px;
        border: 2px solid #fff;
        a{
            font-size: 36px;
            font-family: $font-en1;
            font-weight: 400;
        }
    }
    .title{
        font-size: 24px;
        font-family: $font-en1;
        font-weight: 400;
    }
    .desc{
        margin: 2px 0 20px 0;
        font-size: 18px;
    }

}