@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
         url('Montserrat-Regular.ttf') format('truetype'),
         url('Montserrat-Regular.woff') format('woff'),
         url('Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.eot');
    src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
         url('Montserrat-Medium.ttf') format('truetype'),
         url('Montserrat-Medium.woff') format('woff'),
         url('Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
         url('Montserrat-Bold.ttf') format('truetype'),
         url('Montserrat-Bold.woff') format('woff'),
         url('Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }