.container{}
.sc-visual{
    position: relative;
    height: 600px;
    .link-slide{
        display: block;
        height: 100%;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .control_wrap{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1248px;
        height: 100%;
        margin: 0 auto;
    }

    .btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &::after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 23px;
            height: 40px;
            background-image: url(../images/visual_left_arrow.png);
            background-repeat: no-repeat;
        }
        &.next{
            right: 0;
        }
        &.next::after{
            background-image: url(../images/visual_right_arrow.png);
        }
    }

    .pagination{
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        a{
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color:transparent;
            border: 2px solid #fff;
            & + a{
                margin-left: 11px;
            }
            &.active{
                background-color: #fff;
            }
        }
    }
}

.sc-intro{
    .group-cont{}
    h3{
        @extend .about-title;
    }
    .group-cont:nth-of-type(1){
        h3{
            padding: 75px 0 56px;
        }
    }
    .group-cont:nth-of-type(2){
        h3{
            padding: 96px 0 57px;
        }
    }
    .group-cont:nth-of-type(3){
        h3{
            padding: 91px 0 58px;
        }
    }
    .group-cont:nth-of-type(4){
        h3{
            padding: 108px 0 55px;
        }
    }
    .wrap{
        display: flex;
        justify-content: space-between;
        &.reverse{
            flex-direction: row-reverse;
        }

        .thumb-box{}
        .info-box{
            width: 510px;
        }
        .desc{
            margin: 41px 0 45px;
        }
    }
}

.sc-recommend{
    .sc-title{
        font-size: 42px;
        font-family: $font-kr1;
        font-weight: 500;
        text-align: center;
        padding: 98px 0 50px;
    }
    .group-cont{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 500px;
        background-image: url(../images/recommend_bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .group-cont:nth-of-type(2){
        background-image: url(../images/recommend_bg2.png);
    }
    .group-cont:nth-of-type(3){
        background-image: url(../images/recommend_bg3.png);
    }
    .info-box{
        position: relative;
        padding: 22px 20px 31px 20px;
        width: 370px;
        height: 330px;
        background-color: rgba(#000,0.5);
        color: #fff;
    }
    .cont-title{
        font-size: 22px;
        font-weight: 700;
    }
    .desc{
        font-size: 18px;
        line-height: 22px;
        margin: 12px 0 46px;
    }
    

}