.container{}
.sc-visual{
    position: relative;
    height: 600px;
    .link-slide{
        display: block;
        height: 100%;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    .control_wrap{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1248px;
        height: 100%;
        margin: 0 auto;
    }

    .btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &::after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 23px;
            height: 40px;
            background-image: url(../images/visual_left_arrow.png);
            background-repeat: no-repeat;
        }
        &.next{
            right: 0;
        }
        &.next::after{
            background-image: url(../images/visual_right_arrow.png);
        }
    }

    .pagination{
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        a{
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color:transparent;
            border: 2px solid #fff;
            & + a{
                margin-left: 11px;
            }
            &.active{
                background-color: #fff;
            }
        }
    }
}

.sc-intro{
    .group-cont{}
    h3{
        @extend .about-title;
    }
    .group-cont:nth-of-type(1){
        h3{
            padding: 75px 0 56px;
        }
    }
    .group-cont:nth-of-type(2){
        h3{
            padding: 96px 0 57px;
        }
    }
    .group-cont:nth-of-type(3){
        h3{
            padding: 91px 0 58px;
        }
    }
    .group-cont:nth-of-type(4){
        h3{
            padding: 108px 0 55px;
        }
    }
    .wrap{
        display: flex;
        justify-content: space-between;
        &.reverse{
            flex-direction: row-reverse;
        }

        .thumb-box{}
        .info-box{
            width: 510px;
        }
        .desc{
            margin: 41px 0 45px;
        }
    }
}

.sc-recommend{
    .sc-title{
        font-size: 42px;
        font-family: $font-kr1;
        font-weight: 500;
        text-align: center;
        padding: 98px 0 50px;
    }
    .group-cont{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 500px;
        background-image: url(../images/recommend_bg1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .group-cont:nth-of-type(2){
        background-image: url(../images/recommend_bg2.png);
    }
    .group-cont:nth-of-type(3){
        background-image: url(../images/recommend_bg3.png);
    }
    .info-box{
        position: relative;
        padding: 22px 20px 31px 20px;
        width: 370px;
        height: 330px;
        background-color: rgba(#000,0.5);
        color: #fff;
    }
    .cont-title{
        font-size: 22px;
        font-weight: 700;
    }
    .desc{
        font-size: 18px;
        line-height: 22px;
        margin: 12px 0 46px;
    }
    

}

.sc-event{
    padding: 100px 0 70px;
    .event-list{
        display: flex;
        flex-wrap: wrap;
    }
    .event-item{
        width: calc((100% - 100px) / 2);
        &+li{
            margin-left: 100px;
        }
        &:nth-child(3n){
            margin-left: 0;
        }
        &:nth-child(n+3){
            margin-top: 50px;
        }
    }
    .thumb-box{
        margin-bottom: 23px;
    }
    .info-box{
        & > *{
            display: block;
        }
    }
    .date{
        font-size: 18px;
        color: #858585;
    }
    .title{
        font-size: 22px;
        font-weight: 700;
        margin: 13px 0 9px;
    }
    .desc{
        @include ellip(28px,2);
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 24px;
    }
}

.sc-review{
    .sc-title{
        line-height: 60px;
        font-size: 42px;
        font-family: $font-en1;
        font-weight: 400;
        text-align: center;
        margin-bottom: 55px;
    }
    .group-cont{
        position: relative;
        display: flex;
        justify-content: space-between;

    }
    .thumb-box{
        width: 520px;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info-box{
        padding: 20px 0 25px;
        width: 520px;
        height: 350px;
        & > *{
            display: block;
        }
    }
    .title{
        font-size: 22px;
        line-height: 29px;
        font-weight: 700;
    }
    .desc{
        @include ellip(32px,6);
        font-size: 18px;
        line-height: 32px;
        margin: 9px 0 25px;
    }
    .control_wrap{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1246px;
        height: 430px;
    }
    .btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &::after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 23px;
            height: 40px;
            background-image: url(../images/review_left_arrow.png);
        }
        &.next{
            right: 0;
            &::after{
                background-image: url(../images/review_right_arrow.png);
            }
        }
    }
    .pagination{
        position: absolute;
        left: 50%;
        bottom: 33px;
        transform: translateX(-50%);
        display: flex;
        a{
            width: 13px;
            height: 13px;
            border: 2px solid #ddd;
            border-radius: 50%;
            & + a{
                margin-left: 11px;
            }
            &.active{
                background-color: #ddd;
            }
        }
    }
}

.group-board{
    display: flex;
    justify-content: space-between;
    padding: 110px 0 120px;
    .sc-board{
        position: relative;
        width: calc((100% - 80px) / 2);

        .title{
            padding: 18px 0 14px;
            font-size: 22px;
            font-weight: 500;
            border-bottom: 3px solid #ddd;
        }
    }
    .board-item{
        padding: 23px 0 21px;
        border-bottom: 1px solid #ddd;
        a{
            display: flex;
            font-size: 16px;
        }
    }
    .date{
        color: #888;
        margin-right: 26px;
    }
    .btn-more{
        position: absolute;
        top: 15px;
        right: 0;
        display: block;
        &::after{
            content: '';
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: 2px solid #ddd;
            background-image: url(../images/plus.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}